# Tarea 2:

## Pandas

La tarea la debe resolver directamente sobre este *notebook*. Le deben cambiar el nombre al *notebook* sustituyendo el nombre y el apellido. Por ejemplo:
`Tarea2_wladimir_rodriguez.ipynb`. La tarea deben enviarla al correo electrónico `wladimir@ula.ve` antes de la hora de clase (8am) del día martes 2 de julio.

In [2]:
# importando pandas usando la convención
import pandas as pd

El archivo de datos se encuentra en el directorio datos del Repositorio

In [3]:
# Cargar base de datos imdb de títulos de peliculas
titulos = pd.read_csv('../datos/titles.csv' )
titulos.head()

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

In [3]:
titulos.tail()

                       title  year
230402         El lobo negro  1981
230403  Komu na Rusi zhit...  1989
230404              Senotaji  2013
230405     The Leopard Woman  1920
230406    Mio caro assassino  1972

In [4]:
# Cuantas películas estan listadas en el dataframe de títulos?
len(titulos)

230407

### Ejercicios

In [4]:
# 1. ¿Cuántas películas estan listadas por el nombre "Dracula"?
search_text = "Dracula"
result_list = titulos[titulos["title"] == search_text]
len(result_list)

6

In [12]:
# 2. Títulos mas comunes en la historia filmografica
commun_titles_group = titulos.groupby('title').size().reset_index(name='count')
commun_titles = commun_titles_group.sort_values(by='count', ascending=False)
print(commun_titles.head(10))

                       title  count
68024                 Hamlet     19
28663                 Carmen     16
106303               Macbeth     15
110377                  Maya     11
180161          The Outsider     11
184859  The Three Musketeers     11
71022                   Hero     11
128326               Othello     11
12444                   Anna     10
12459          Anna Karenina     10

In [15]:
# 3. ¿Cuál fue la primer película hecha titulada "Romeo and Juliet"?
search_text = "Romeo and Juliet"
titles_sort_by_years = titulos.sort_values(by='year')
movies_to_search = titles_sort_by_years[titles_sort_by_years["title"] == search_text]
movies_to_search = movies_to_search.iloc[0]
print(movies_to_search)

title    Romeo and Juliet
year                 1916
Name: 124702, dtype: object

In [22]:
# 4. Listar todas las películas que contengan la palabra "Exorcist" 
# ordenadas de la mas vieja a la mas reciente.
search_text = "exorcist"
movies_to_search = titulos[titulos["title"].str.lower().str.contains(search_text, na=False)]
titles_sort_by_years = movies_to_search.sort_values(by='year')
print(titles_sort_by_years)

                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
118920     Satanico Pandemonium: La Sexorcista  1975
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
69974                           Shark Exorcist  2015
51101                            Bad Exorcists  2015
151850                              Exorcistas  2015
60700                      Accidental Exorcist  2016
161093                       American Exorcist  2016
195615                    Diary of an Exorcist  2016
228642                  Exorcist House of Evil  2016

In [25]:
# 5. ¿Cuántas películas fueron hechas en el año 1950?
year_to_search = 1950
movies_to_search = titulos[titulos["year"] == year_to_search]
print(len(movies_to_search))

1081

In [26]:
# 6. ¿Cuántas películas fueron hechas en el año 1970?
year_to_search = 1970
movies_to_search = titulos[titulos["year"] == year_to_search]
print(len(movies_to_search))

2106

In [28]:
# 7. ¿Cuántas películas fueron hechas de 1950 a 1959
movies_1950_1959 = titulos[(titulos['year'] >= 1950) & (titulos['year'] <= 1959)]
print(f"Se hicieron {len(movies_1950_1959)} películas entre 1950 y 1959.")

Se hicieron 12606 películas entre 1950 y 1959.

In [39]:
# 8. En que años alguna película llamada "Batman" se presento
search_text = "batman"
movies_to_search = titulos[titulos["title"].str.lower().str.contains(search_text, na=False)]
titles_sort_by_years = movies_to_search.sort_values(by='year')
print(titles_sort_by_years)

                                        title  year
111048                                 Batman  1943
216605                       Batman and Robin  1949
13441                          Batman Dracula  1964
115931                  Alyas Batman at Robin  1965
115907                      Batman: The Movie  1966
40367                            James Batman  1966
116679                  Batman Fights Dracula  1967
174893                  Fight! Batman, Fight!  1973
55819                                  Batman  1989
24698                   Alyas Batman en Robin  1991
149852                         Batman Returns  1992
178478           Batman: Mask of the Phantasm  1993
184088                         Batman Forever  1995
137686                         Batman & Robin  1997
42345                           Batman Begins  2005
129700                         Batman Reboots  2010
38457                           Batman Untold  2010
192518                        Batman Revealed  2012
76004            Batman Beyond: Rising Knight  2014
215266                       Batman: Crusader  2014
18757              Batman: The Shattered Cowl  2016
218189  Batman: Return of the Caped Crusaders  2016
32832                         Batman: Anarchy  2016
216609     Batman v Superman: Dawn of Justice  2016
85456                 B@ (Batman Parody Film)  2016
38686                         Batman Infinite  2016
137183               Batman: The Killing Joke  2016
120281                  The Lego Batman Movie  2017

In [37]:
# 9. En cual año hay mas películas
commun_titles_group = titulos.groupby('year').size().reset_index(name='count')
commun_titles = commun_titles_group.sort_values(by='count', ascending=False)
print(f"En el año {commun_titles['year'].iloc[0]} hay más películas con una cantidad total de {commun_titles['count'].iloc[0]} peliculas")
print(commun_titles.head(10))

En el año 2016 hay más películas con una cantidad total de 14385 peliculas
     year  count
116  2016  14385
115  2015   8710
114  2014   8068
113  2013   7647
112  2012   7241
111  2011   6867
117  2017   6417
110  2010   6253
109  2009   6010
108  2008   5004

In [38]:
# 10. En cual año hay menos películas
commun_titles_group = titulos.groupby('year').size().reset_index(name='count')
commun_titles = commun_titles_group.sort_values(by='count', ascending=True)
print(f"En el año {commun_titles['year'].iloc[0]} hay menos películas con una cantidad total de {commun_titles['count'].iloc[0]} peliculas")
print(commun_titles.head(10))

En el año 1894 hay más películas con una cantidad total de 1 peliculas
     year  count
0    1894      1
4    1903      1
124  2024      1
1    1898      1
2    1899      1
5    1905      2
3    1900      4
7    1907      4
6    1906      5
8    1908      6